*
{
	padding: 0;
	margin: 0;
}

.container
{
	margin: 130px auto;
	width: 80vw;
	display: flex;
	justify-content: center;
}

.btn-one
{
	color: #333;
	background-color: #00c3ff;
	font-size: 2rem;
	padding: 20px 40px;
	border: none;
	outline: none;
	animation: bounce 0.5s cubic-bezier(0.1,0.30,0.5,1) infinite both alternate;

}

@keyframes bounce
{
	from
	{
		box-shadow: 0px 1px 10px grey;
		transform: translateY(-100px);
	}

	to {
		box-shadow: 0px 30px 20px grey;
		transform: translateY(0);		
	}
}