*
{
	font-family: sans-serif;
}

.container
{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 1rem;
	cursor: pointer;
	font-size: 1.3rem;
	-webkit-user-select: none;
 	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.container input
{
	width: 0;
	height: 0;
	opacity: 0;
	cursor: pointer;
}

.container:hover .checkmark
{
	background-color: #aaa;
}

.container .checkmark
{
	position: absolute;
	top: 0;
	left: 20px;
	width: 25px;
	height: 25px;
	background-color: #eee;
}

.checkmark:after
{
	position: absolute;
	content: '';
	display: none;
}

.container input:checked ~ .checkmark
{
	background-color: hsl(199.8, 100%, 45.1%);
}

.container input:checked ~ .checkmark:after
{
	display: block;
}

.checkmark:after
{
	top: 3px;
	left: 8px;
	width: 6px;
	height: 13px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.radio
{
	display: block;
	font-size: 1.3rem;
	position: relative;
	padding-left: 35px;
	margin-bottom: 1rem;
	cursor: pointer;
	-webkit-user-select: none;
 	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.radio input
{
	height: 0;
	width: 0;
	opacity: 0;
}

.radio .checkmark-radio
{
	position: absolute;
	top: 0;
	left: 20px;
	width: 25px;
	height: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.radio:hover .checkmark-radio
{
	background-color: #aaa;
}

.radio input:checked ~ .checkmark-radio
{
	background-color: hsl(199.8, 100%, 45.1%);
}

.checkmark-radio:after
{
	position: absolute;
	content: '';
	display: none;
}

.radio input:checked ~ .checkmark-radio:after
{
	display: block;
}

.checkmark-radio:after
{
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #fff;
}