*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(180deg, #0081ff, #ff137d), url('/C:/Users/lovis/Pictures/Images/background.jpg') fixed;
	background-size: cover;
	background-blend-mode: screen;
}

section span
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 72px;
	background: -webkit-linear-gradient(90deg, #35ba9b 20%, #5270e8);
  	background: linear-gradient(90deg, #35ba9b 10%, #5270e8);
  	background-clip: text;
  	color: transparent;
}

section .wave
{
	position: absolute;
	width: 100%;
	height: 143px;
	background: url('wave.png');
	bottom: 0;
	left: 0;
	animation: animate 10s linear infinite forwards;
}

@keyframes animate
{
	from
	{
		background-position: 0;
	}

	to
	{
		background-position: 1360px;
	}
}

.content
{
	padding: 4rem;
}