*
{
	padding: 0;
	margin: 0;
}

.container
{
	width: 80vw;
	min-height: 70vh;
	margin: 200px auto;
	border: 2px solid #ccc;
	position: relative;
	outline: 2px solid #ccc;
}

.box-one
{
	text-align: center;
	padding: 20px 10px;
	border: 2px solid #aaa;
	width: 5vw;
	height: 5vh;
	background-color: #7C917F;
	position: absolute;
	animation: moveAround 5s linear infinite both;
}

@keyframes moveAround
{
	0%
	{
		top: 0;
		left: 0;
	}

	25%
	{
		top: 0;
		left: 100%;
	}

	50%
	{
		top: 100%;
		left: 100%;
	}

	75%
	{
		top: 100%;
		left: 0%;
	}

	100%
	{
		top: 0;
		left: 0%;
	}

}