*
{
	padding: 0;
	margin: 0;
}

.container
{
	width: 50vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;/*This will make the contaienr center-align*/
	position: relative;
}

.cover
{
	height: 80%;
	background-color: #aaaab2;
}

.cover img
{
	height: 100%;
	transition: .3s ease;
}
/*This div will align center according to .container div*/
.middle
{
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*Styling the text*/
.text
{
	color: #333;
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 700;
}

.text span
{
	display: block;
	text-indent: 3rem;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: underline;
}

.cover:hover img
{
	opacity: 0;
}

.cover:hover .middle
{
	opacity: 1;
}
