/***/
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-color: #f3f3f3;
}

.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type = 'checkbox']
{
	width: 80px;
	height: 40px;
	transform: scale(1.9);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: .5s;
	cursor: pointer;
}

input:checked
{
	background-color: #03a9f4;
}

input::before
{
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top: 0;
	left: 0;
	background-color: #fff;
	transition: .5s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
}

input:checked::before
{
	left: 40px;
}