*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1
{
    width: 100%;
    height: 100%;
    font-size: 4rem;
    background:url('Images/colors.jpg') no-repeat fixed;
    background-size: cover;
    background-clip: text;
    color: transparent;
    text-align: center;
}