*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

section::before
{
	background: linear-gradient(180deg, #0081ff, #ff137d), url('/C:/Users/lovis/Pictures/Images/boy.jpg') fixed;
	background-blend-mode: screen;
	background-size: cover;
	position: absolute;
	content: '';
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

section
{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content
{
	padding : 100px;
}

.content h2
{
	font-size: 3rem;
	color: #000;
	font-weight: 900;
}

.content p
{
	position: relative;
	font-size:1.3rem;
	color: #000;
	z-index: 2;
}

img
{
	position: relative;
	max-width: 350px;
	z-index: 1;
	border-radius: 250px;
}

img:hover
{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.wave
{
	position: absolute;
	bottom: 0;
	left: 0;
}