*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --stagered-time-delay: 100ms;
}
body
{
    background-color: #010;    
}

h1
{
    font-size: 2rem;
    color: #ffffff;
}

.grid-container
{
    height: 80vh;
    display: grid;
    grid-gap: 1rem;   
    grid-template-areas: 'a b c d'
    'l main main e'
    'k main main f'
    'j i h g';

    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 240px auto auto 240px;
    margin: 1rem;
}

.card
{
    background: #66f066;
    transition: .1s ease;
    animation: colorChange 700ms ease-out;
    animation-fill-mode: backwards;
}

@keyframes colorChange
{
    from
    {
        opacity: 0;
        filter: hue-rotate(180deg);
        transform: scale(0.3);
    }

    to
    {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0);
    }
}
.card:hover
{
    transform: translateY(-8px);
}
.card:nth-child(1)
{
    grid-area: a;
    animation-delay: calc(1 * var(--stagered-time-delay));
}


.card:nth-child(2)
{
    grid-area: b;
    animation-delay: calc(2 * var(--stagered-time-delay));
}

.card:nth-child(3)
{
    grid-area: c;
    animation-delay: calc(3 * var(--stagered-time-delay));
}


.card:nth-child(4)
{
    grid-area: d;
    animation-delay: calc(4 * var(--stagered-time-delay));
}


.card:nth-child(5)
{
    grid-area: e;
    animation-delay: calc(5 * var(--stagered-time-delay));
}


.card:nth-child(6)
{
    grid-area: f;
    animation-delay: calc(6 * var(--stagered-time-delay));
}

.card:nth-child(7)
{
    grid-area: g;
    animation-delay: calc(7 * var(--stagered-time-delay));
}


.card:nth-child(8)
{
    grid-area: h;
    animation-delay: calc(8 * var(--stagered-time-delay));
}


.card:nth-child(9)
{
    grid-area: i;
    animation-delay: calc(9 * var(--stagered-time-delay));
}


.card:nth-child(10)
{
    grid-area: j;
    animation-delay: calc(10 * var(--stagered-time-delay));
}

.card:nth-child(11)
{
    grid-area: k;
    animation-delay: calc(11 * var(--stagered-time-delay));
}


.card:nth-child(12)
{
    grid-area: l;
    animation-delay: calc(12 * var(--stagered-time-delay));
}

.card:nth-child(13)
{
    grid-area: main;
    animation-delay: calc(13 * var(--stagered-time-delay));
}
