*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body
{
	overflow-x: hidden;
	color: #fff;
}

section
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('Images/background2.jpg') no-repeat fixed;
	background-size: cover;
	overflow: hidden;
}

section .box
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('/C:/Users/lovis/Pictures/Images/background2.jpg') no-repeat fixed;
	background-size: cover;
}

section .box:nth-child(1)
{
	filter: blur(10px);
}

section .box:nth-child(2)
{
	clip-path: circle(150px at var(--x) var(--y));
	z-index: 0;
}

section .box h2
{
	position: absolute;
	color: #fff;
	font-size: 10rem;
	transform: translate(0, 0);
}

.circle
{
	position: absolute;
	top: -150px;
	left: -150px;
	width: 300px;
	height: 300px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
	transform: translate(var(--x), var(--y));
}