*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #222;
}

a
{
	position: relative;
	display: inline-block;
	padding: 20px 40px;
	background-color: #363636;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	overflow: hidden;
}

a::before
{
	content: '';
	position: absolute;
	top: var(--y);
	left: var(--x);
	width: 0;
	height: 0;
	background-color: #2196f3;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: width .5s, height .5s;
}

a:hover::before
{
	width: 100px;
	height: 100px ;
}

a span
{
	position: relative;
	z-index: 1;
}